<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Sign in page</h1>
  <form action="/signup" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="****">
    <button type="submit">submit</button>
  </form>

  <a href="/info/111">user_1</a>
  <a href="/info/112">user_2</a>
  <a href="/info/113">user_3</a>
  
</body>
</html>